<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <title>Add Author | MyBlog</title>
</head>
<body>

<header>
        <h1><a href="/">MyBlog</a></h1>
        <h2>New Author</h2>
</header>
<main id="add-section">
<form action="{{url_for('add_author')}}" method="POST" >
    <div>
        <label>Name:</label>
        <input type="text" name="name" value="">
    </div>
    <div>
        <label>Inf:</label>
        <input type="text" name="inf" value="">
    </div>
    <div>
        <label>Profile Photo Url:</label>
        <input type="text" name="photo_url" value="">
    </div>
    <div>
        <label>Back Photo Url:</label>
        <input type="text" name="photo_back_url" value="">
    </div>
    <div>
        <label>Your Saying:</label>
        <input type="text" name="saying" value="">
    </div>
    <div>
        <label>Facebook:</label>
        <input type="text" name="facebook" value="">
    </div>
    <div>
        <label>Twitter:</label>
        <input type="text" name="twitter" value="">
    </div>

    <div>
                <button>Create</button>
    </div>
</form>
</main>
</body>
</html>