<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

    <title>MyBlog</title>
</head>
<body>
<header>
    <h1><a href="/">MyBlog</a></h1>
    <nav>
        <a href="{{url_for('add_article')}}">New Article</a>
        <a href="{{url_for('add_author')}}" >New Author</a>
        <a href="{{url_for('update_author',id = author.id)}}" >Update Author</a>
    </nav>
</header>
<main>
    <div id="name_and_img" >
            <img src='/{{author.photo.url}}'>
            <h2><a href="{{url_for('show_articles_by_author',id=author.id)}}">{{author.name}}</a>  </h2>

    </div>

    {% for article in articles %}
    <article>

        <div id="body-post">

            <h2><a  href="{{url_for('show_article',id = article.id,author=author.name)}}">{{article.title}}</a></h2>
            <p><em>{{article.date_time.strftime("%A, %d %B %Y %I:%M:%S %p")}}</em></p>


            <div class="btn-section">
                <a href="{{url_for('update_article',id = article.id)}}">Edit</a> |
                <a href="{{url_for('delete_article',id = article.id)}}">Delete</a>
            </div>

        </div>

    </article>
    {% endfor %}



</main>

</body>
</html>