<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

    <title>Update Article | MyBlog</title>
</head>
<body>

<header>
        <h1><a href="/">MyBlog</a></h1>
        <h2>Update Article</h2>
</header>
<main id="add-section">
<form id="add_article" action="{{url_for('update_article',id=article.id)}}" method="POST" >
    <div>
        <label>Title:</label>
        <input type="text" name="title" value="{{article.title}}">
    </div>

    <div>
        <label>Author Name:</label>
        <select name="author" form="add_article"  >
            <option value="" selected>{{article.author.name}}</option>

        </select>
    </div>
    <div>
        <label>Body:</label>
        <textarea name="body" cols="40" rows="5" >{{article.body}}</textarea>
    </div>
    <div>
                <button>Update</button>
    </div>
</form>
</main>
</body>
</html>